<app-base-modal [title]="!isEdit?'Add New '+ formTitle: 'Update '+formTitle">
    <ng-container body>
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-black">
                        <h4 class="w-100 d-flex flex-column">
                            <span class="fw-bold-500">Type</span>
                            <span>
                                {{formType.value}}
                            </span>                        
                        </h4>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="formType?.value === 'Sub Category'">
                    <div class="form-group text-black">
                        <h4 class="w-100 d-flex flex-column">
                            <span class="fw-bold-500">Category</span>
                            <span>
                                {{getCategoryName(categoryList,form.get('categoryId')?.value)}}
                            </span>                        
                        </h4>
                    </div>
                </div> 
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput formControlName="name" />
                            <mat-label>Name</mat-label>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <textarea matInput formControlName="description"></textarea>
                            <mat-label>Description</mat-label>
                        </mat-form-field>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" >
                                <mat-option *ngFor="let status of statusList" [value]="status" class="text-capitalize">
                                    <span class="text-capitalize">
                                        {{status}}
                                    </span>
                                </mat-option>
                            </mat-select>    
                        </mat-form-field>                        
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container actions>
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="handleAction()">
            {{getActionButtonLabel()}}
        </button>
    </ng-container>    
</app-base-modal>


 
