<mat-card class="example-card">
  <app-card-badge *ngIf="product" [badge]="product?.status" [color]="'others-purple'"></app-card-badge>
  <app-card-badge *ngIf="product?.categoryInfo" [badge]="product?.categoryInfo?.name" [position]="'top-right'"></app-card-badge>    
  
    <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
    <mat-card-content>
      <p class="product-name">
        {{product.name}}
      </p>
      <p class="product-weight">
        {{product.weight}}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-row flex-space-between">
      <div class="d-flex flex-column">
        <span class="product-price">
          <mat-icon>
              currency_rupee
          </mat-icon>
          {{product.discountedPrice}}
        </span>
        <span class="product-price strike-price">
            <mat-icon>
              currency_rupee
            </mat-icon>
            {{product.sellingPrice}}
        </span>
      </div>
      <!-- <div class="quantity-container">
        <div *ngIf="isItemInCart(product.id)">
          <button mat-raised-button color="primary" class="add-button"  (click)="addItemToCart(product)">Add</button>
        </div>
        <div *ngIf="!isItemInCart(product.id)" class="quantity-actions">
          <button mat-icon-button color="primary" (click)="decrement(product.id)">
            <mat-icon>remove</mat-icon>
          </button>
          <span>
              {{getItemQty(product.id)}}
          </span>
          <button mat-icon-button color="primary" (click)="increment(product.id)">
            <mat-icon>add</mat-icon>
          </button>
        </div>        
      </div> -->
      
    </mat-card-actions>
    <mat-card-actions align="end">
      <button mat-button (click)="onEdit(product)">Edit</button>
      <button mat-button color="warn" (click)="onDelete(product)">Delete</button>
    </mat-card-actions>
  </mat-card>

  

 