<div class="row">
    <div class="col-md-4 offset-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-3">
                        Sign Up
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <h6 class="mb-3 text-muted">
                        Welcome to Travluk Team
                    </h6>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form class="my-2" [formGroup]="signupForm">
                    <div class="row d-flex flex-column">
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" matInput formControlName="name">
                                    <mat-label>Name</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" matInput formControlName="email">
                                    <mat-label>Email</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="password" matInput formControlName="password">
                                    <mat-label>Password</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="password" matInput formControlName="repassword">
                                    <mat-label>Repeat Password</mat-label>
                                </mat-form-field>
                                <!-- {{!signupForm.value.repassword | json}} -->
                                <div class="error-message" *ngIf="signupForm.value.repassword && signupForm.errors?.['PasswordNoMatch']">
                                    Password does'nt match.
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    I accept the terms
                                </label>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group">
                                <button class="btn btn-success w-100" type="submit" (click)="onSubmit()"
                                    [disabled]="!signupForm.valid" [style.opacity]="signupForm.valid? 1 : 0.7">Sign
                                    Up</button>
                            </div>
                        </div>
                        <div class="col text-center">
                            <a [routerLink]="['/auth','login']">
                                <span>
                                    Already have an account? Sign in
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>