$love-primary-palette: (
  50: #C3E7E6,
  100: #93D4D2,
  200: #63C1BE,
  300: #33AEA9,
  400: #179D95,
  500: #038C82,
  600: #03807A,
  700: #027471,
  800: #016968,
  900: #005C57,
  A100: #50CCCC,
  A200: #30BBBB,
  A400: #00AAAA,
  A700: #038C82, // The specific color you provided as the base
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$melody-accent-palette: (
  50: #E6F2F8,
  100: #B3D9E6,
  200: #80BFD3,
  300: #4DA5C1,
  400: #3390B0,
  500: #197B9E,
  600: #146D8D,
  700: #105F7C,
  800: #0C516B,
  900: #073E52,
  A100: #99DAFF,
  A200: #66C3FF,
  A400: #33ACFF,
  A700: #1A93E0,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);


$purple-palette: (
  50: #F3E5F5,
  100: #E1BEE7,
  200: #CE93D8,
  300: #BA68C8,
  400: #AB47BC,
  500: #9C27B0,
  600: #8E24AA,
  700: #7B1FA2,
  800: #6A1B9A,
  900: #4A148C,
  A100: #EA80FC,
  A200: #E040FB,
  A400: #D500F9,
  A700: #AA00FF,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

