<div class="row">
    <div class="col-md-4 offset-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-3">
                        Setup New Password
                    </h5>
                </mat-card-title>
            </mat-card-header>

            <form>
                <mat-card-content>
                    <div class="row d-flex flex-column">
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" matInput>
                                    <mat-label for="floatingPassword">Password</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" matInput>
                                    <mat-label for="floatingRepeatPassword">Repeat Password</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>  
                    <div class="col mb-3">
                        <div class="form-group">
                            <button class="btn btn-success w-100" type="submit">Submit</button>
                        </div>
                    </div>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>