<div class="row">
  <div class="col-md-4 offset-md-4">
    <form class="my-2" [formGroup]="loginForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-3">Sign In</h5>
          </mat-card-title>
          <mat-card-subtitle>
            <h6 class="mb-3 text-muted">Welcome to Daily Store</h6>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row d-flex flex-column">
            <div class="col p-2">
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <input type="text" matInput formControlName="email" />
                  <mat-label for="email">Email</mat-label>
                </mat-form-field>
              </div>
            </div>
            <div class="col p-2">
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                    <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-label for="password">Password</mat-label>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>
              </div>
            </div>
            <div class="col">
              <p class="color-label text-right">
                <a [routerLink]="['/auth', 'forgot-password']"
                  >Forgot Password ?</a
                >
              </p>
            </div>
            <mat-card-actions>
              <div class="col mb-3">
                <div class="form-group">
                  <button
                    class="btn btn-success w-100"
                    type="submit"
                    (click)="onSubmit()"
                    [disabled]="!loginForm.valid" [style.opacity]="loginForm.valid? 1 : 0.7"
                  >
                    Sign In
                  </button>
                </div>
              </div>
            </mat-card-actions>
            <div class="col text-center">
              <a [routerLink]="['/auth', 'signup']">
                <span> Not a Member yet? Sign up </span>
              </a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
