<mat-card class="example-card">
    <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
    <mat-card-content>
      <p class="product-name">
        {{product.name}}
      </p>
      <p class="product-weight">
        {{product.weight}}
      </p>
    </mat-card-content>
    <mat-card-actions class="flex flex-row flex-space-between">
      <div class="flex flex-column">
        <span class="product-price">
          <mat-icon>
              currency_rupee
          </mat-icon>
          {{product.discount}}
        </span>
        <span class="product-price strike-price">
            <mat-icon>
              currency_rupee
            </mat-icon>
            {{product.price}}
        </span>
      </div>
      <button mat-raised-button color="primary">ADD
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-content></ng-content>

 