<mat-card>
    <img mat-card-image [src]="product.imageUrl" [alt]="product?.name">
    <app-card-badge *ngIf="product" [badge]="product?.status" [color]="'others-purple'"></app-card-badge>
    <app-card-badge *ngIf="product?.categoryInfo" [badge]="product?.categoryInfo?.name" [position]="'top-right'"></app-card-badge>    
    <mat-card-content>
      <p class="product-name">
        {{product?.name}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="onEdit(product)">Edit</button>
      <button mat-button color="warn" (click)="onDelete(product)">Delete</button>
    </mat-card-actions>
</mat-card>
