<app-base-modal
  [title]="!isEdit ? 'Add New ' + formTitle : 'Update ' + formTitle">
  <ng-container body>
    <div class="form-group mb-3">
        <button mat-raised-button color="primary" *ngIf="!isAddEdit" (click)="showComponent('addEdit')" class="w-100">Add New Address</button>
        <button mat-raised-button color="primary" *ngIf="isAddEdit" (click)="showComponent('list')" class="w-100">Manage Address</button>
    </div>    

    <app-add-edit-address *ngIf="isAddEdit"></app-add-edit-address>
    <app-list-address [userAddresses]="activeUser?.addresses" *ngIf="!isAddEdit"></app-list-address>
  </ng-container>
  <ng-container actions>
    <ng-container *ngIf="isAddEdit">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="onSubmit()">
        {{ getActionButtonLabel() }}
        </button>
    </ng-container>    
  </ng-container>
</app-base-modal>
