<div class="row">
    <div class="col-md-4 offset-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-3">
                        Forgot Password ?
                    </h5>
                    <mat-card-subtitle>
                        <h6 class="mb-3 text-muted">Enter your email to reset your password.</h6>
                    </mat-card-subtitle>
                </mat-card-title>
            </mat-card-header>
            <form>
                <mat-card-content>
                    <div class="row d-flex flex-column">
                        <div class="col mb-3">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Email address</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="form-group d-flex justify-content-center gap-2">
                                <button class="btn btn-success w-100" type="button">Submit</button>
                            </div>
                        </div>
                        <div class="col text-center mb-3">
                            <a [routerLink]="['/auth','login']">
                                <span>
                                    Already have an account? Sign in
                                </span>
                            </a>
                        </div>
                        <div class="col text-center">
                            <a [routerLink]="['/auth','signup']">
                                <span>
                                    Not a Member yet? Sign up
                                </span>
                            </a>
                        </div>
                    </div>
                </mat-card-content>
            </form>

        </mat-card>
    </div>
</div>