/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import "./assets/scss/variables";
@import "./assets/scss/mat-themes.scss";
@import "./assets/scss/mat-colors.scss";
@import "./assets/scss/positions.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee; }

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.app-content{
    margin-top: 85px;
    height: calc(100% - 100px) !important;
}


.header-text {
    font-size: 16px !important;
    font-weight: 450 !important;
    margin-bottom: 0 !important;
}


// .page-section{
//     // margin-top: 20px;
//     padding: 16px 0px;
//     h3{
//         font-size: 20px;
//         font-weight: 500;
//     }
// }

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-gap-5{
    gap:.7rem!important;
}

.flex-gap-3{
    gap:.4rem!important;
}


.flex-space-between{
    justify-content: space-between;
}

.strike-price{
    text-decoration: line-through;
}


.text-capitalize{
    text-transform: capitalize;
}


.cursor-pointer{
    cursor: pointer;
}

.w-100{
    width: 100%;
}


.fw-bold-500{
    font-weight: 500 !important;
}
