/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/mat-themes.scss";
@import "./assets/scss/mat-colors.scss";
@import "./assets/scss/positions.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee; }

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.app-content{
    margin-top: 80px;
}


.page-section{
    // margin-top: 20px;
    padding: 16px 0px;
    h3{
        font-size: 20px;
        font-weight: 500;
    }
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}


.flex-space-between{
    justify-content: space-between;
}

.strike-price{
    text-decoration: line-through;
}


.text-capitalize{
    text-transform: capitalize;
}


.cursor-pointer{
    cursor: pointer;
}

.w-100{
    width: 100%;
}